* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
}


.container {
    width: 100%;
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

/*----------------HEADER-------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    max-height: 60px; 
    padding: 40px 0;
}
.backred {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.212);
}

.menu {
    display: flex;
    list-style-type: none;
   
}
.menu li:hover {
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.397);
    font-size: 18px;
    border-radius: 5px;
}
.menu a {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
    padding: 0 15px;
    
}
.section-second {
    width: 100%;
    display: flex;
    background: url(img/bg.png) center no-repeat;
    background-size: cover;
    position: absolute;
    
    
}
.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    
    
}
.welcome h1{
    font-size: 48px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.welcome h2 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding: 20px 0;

}
.get-started {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 260px;

}
.btn-get-started:hover {
    background-color: rgba(4, 255, 4, 0.589);
    font-size: 18px;
    border: none;
}
.btn-get-started {
    width: 180px;
    height: 50px;
    font-size: 16px;
    background: none;
    color: #fff;
    border: 3px solid #fff;
    font-weight: 400;
    font-family: "Montserrat";
    text-transform: uppercase;
    border-radius: 2px ;
    outline: none;
}
.sticky {
    position: sticky;
    background-color: rgba(0, 0, 0, 0.40);
}

/*------------------MAIN----------------------*/
[class*="section-"] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.read-services p {
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}
.services-description h3{
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
}
.services-description p {
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding-bottom: 100px;
}
[class*="title-"] {
    font-size: 20px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    border-bottom: 3px solid #555555;
    padding-top: 100px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
[class*="services-img"] {
    border: 2px solid #dddddd;
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    height: 100px;
}
.services-img-1 {
    background: url(img/red-a.png) center no-repeat;
}
.services-img-2 {
    background: url(img/quotes-red.png) center no-repeat;
}
.services-img-3 {
    background: url(img/circle-red.png) center no-repeat;
}
.services-img-1:hover {
    background-color:red;
    background-image: url(img/white-a.png) ;
    
}
.services-img-2:hover {
    background-color:red;
    background-image: url(img/quotes-white.png) ;
    
}
.services-img-3:hover {
    background-color:red;
    background-image: url(img/circle-white.png) ;
    
}
[class*="sub-"] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
[class*="read-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.read-about-as p {
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 30px 0 75px 0;
}
.as-description p {
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-bottom: 70px;
}
[class*="persone-img-"] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
[class*="face"] {
    width: 100%;
    height: 100%;
    
 
}
[class*="persone-img-"]:hover .icon {
    opacity: 1;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 122, 122, 0.404);
    opacity: 0;
    
    
}
.icon a {
    width: 30px;
    height: 30px;
    margin-top: 65%;
    
    
}
.icon a:hover {
    background-color: red;
}
.red-faceboock {
    background: url(img/Facebook.png) center no-repeat;
    
}
.red-twitter {
    background: url(img/Twitter.png) center no-repeat;
    
}
.red-google {
    background: url(img/Google\ Plus.png) center no-repeat;
    
}
.red-link {
    background: url(img/linkedin.png) center no-repeat;
   
}
.about-as-description h3 {
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 20px 0;
    text-align: center;
}
.about-as-description p{
    font-size: 13px;
    color: #555555; 
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding-bottom: 100px;
}
.red {
   border: 2px solid red;
   border-radius: 5px;
    
}
.section-mytab {
    width: 100%;
    background-color: #000;
    
}


.bg-1 {
    background: url(img/s-img1.png) center no-repeat;
    width: 180px;
    height: 60px;
}
.bg-2 {
    background: url(img/s-img2.png) center no-repeat;
    width: 180px;
    height: 60px;
}
.bg-3 {
    background: url(img/s-img3.png) center no-repeat;
    width: 180px;
    height: 60px;
}
.bg-4 {
    background: url(img/s-img4.png) center no-repeat;
    width: 180px;
    height: 60px;
}
.bg-5 {
    background: url(img/s-img5.png) center no-repeat;
    width: 180px;
    height: 60px;
}

.tab-img {
    margin: 15px;
    cursor: pointer;
    z-index: 1;
}
.tab-img:hover {
    border: 2px solid #fff;
    border-radius: 5px;
}
.tab-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 45px 0 45px 0;
    margin: 0 auto;
}

/* .about-company h2 {
    font-size: 18px;
    color: #00025e;
    font-weight: 600;
    
} */
#tab-col {
    color:#fff;

}
.tab-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    
}
.tab-content p {
    font-style:italic;
    font-size: 15px;
    font-weight: 400;
    color: rgb(196, 196, 196);
    font-family: "Montserrat";
    padding: 20px 0 0 0;
    padding-bottom: 100px;
}
.hide {
    display: none;
}
.show {
    display: block;
} 
.chose-point {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 70px 0;
    
}
.style {
    padding: 0 15px;
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    cursor: pointer;
}
.style:hover{
    color: #ee1414;
}
.chose-img {
    padding: 15px 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .none {
    width: 100%;
    height: 320px;
} 
.mini-title {
    opacity: 0;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #c1321fa4;

}

.mini-title p {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 20px 0;
}

.mini-title h3{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.chose-img:hover .mini-title {
    opacity: 1;
}

.view-btn {
    border: none;
    background-color: #fff;
    width: 100px;
    height: 40px;
    text-transform:uppercase ;
    font-size: 14px;
    letter-spacing: 1px;
    color: #c0301c;
    font-weight: 400;
    font-family: "Roboto Slab";
    cursor: pointer;
}
.view-btn:hover {
    background-color: rgb(235, 235, 235);
    font-size: 15px;
   
    
}
.section-get-in-touch {
    background: url(img/bgrednew.png) center no-repeat;
    background-size: cover;
    width: 100%;
}
.getintouch {
    background-color: #bf2e1b86;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}
.getintouch h2 {
    font-size: 30px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding-bottom: 50px;
}
.get-in-touch {
    width: 180px;
    height: 50px;
    border: 3px solid #ffffff;
    background: none;
    outline: none;
    font-size: 18px; 
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    cursor: pointer;
}
.get-in-touch:hover {
    background-color: #bf2e1b;
    font-size: 19px;
}

.read-recent-blog-posts p {
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 30px 0 30px 0;
}
.blog-time {
    display: flex;
    
}
[class*="text-uppercase"] {
    text-transform: uppercase;
}
.blog-title p {
    font-size: 13px;
    color: #c0301c;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding: 0 0 0 30px;
}
.blog-title2 p {
    font-size: 13px;
    color: #777;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding: 0 0 0 30px;
  
}

.grey-text {
    color: #777777;
}
#more {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 10px 0 10px 30px;
}

.blogdata  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #777777;
    border: 2px solid #777777;
    width: 75px;
    height: 75px;
}
.just-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 100px 0;

}
.blog-img {
    width: 100%;
    height: 100%;
}
.blog-description p{
    padding: 20px 0 40px 0;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    line-height: 24px;
}
.readmore {
    text-transform: uppercase;
    text-decoration: none;
    color: #555555;
    padding: 0 0 70px 0;
}
.readmore:hover {
    color: #c0301c;
}
.myblogposts {
    margin: 40px  0 100px 0;
}
.block-slider {
    padding: 50px 0;
    text-align: center;
}
.section-slayder {
    width: 100%;
    border: 1px solid rgb(0, 102, 255);
    background-color: #f8f8f8;
    margin: 0 auto;
}
.slick-dots li.slick-active button:before {
    font-size: 8px;
    color: rgb(255, 0, 0);
}
.slick-prev:before, .slick-next:before {
    color: #777;
}
.slick-dots li button:before {
    color: rgb(117, 117, 117);
}
.slider-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.slider-img img {
    padding: 40px 15px;
    
}
.slider-description p {
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 25px 0;
}
.section-modal {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(236, 235, 235);
}
.contacts {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}
.contact-title {
    padding: 0 0 15px 0;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-transform: uppercase;
}
.contact-title img {
    padding-right: 15px;
    
}
.read-modal p {
    padding-top: 30px;
}
[class*="con-"] {
    padding: 20px 0;
    
}
[class*="con-"] p {
    font-size: 12px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding: 5px 0 5px 30px;
    
}
[class*="check-in-"] {
    padding: 70px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input:hover {
    border: 1px solid #f00;
}
.input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    font-size: 12px;
    border-radius: 3px;
}
#subb-textarea {
    width: 100%;
    height: 100px;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 14px;
}
.button-send-message {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.button-send-message p {
    padding: 15px ;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.send-massege {
    width: 170px;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    background: none;

}
.send-massege:hover {
    background-color: rgb(180, 180, 180);
    color: #fff;
    border-radius: 5px;
}
.span-red {
    color: #f00;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;

}
.subb-modal {
    border: 1px solid black;
    margin: 200px auto;
    width: 500px;
    height: 350px;
    background-color: rgb(77, 0, 0);
    border-radius: 5px;
    padding: 5px;
}
.my-modal {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-send {
    width: 170px;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.form-modal {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal-input {
    width: 100%;
    height: 30px;
    margin:10px;
}
.closed-modal {
    cursor: pointer;
    position: relative;
    top: 3%;
    left: 93%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    font-size: 15px;
    
}
.backblack {
    background-color: rgba(0, 0, 0, 0.863);
    padding: 20px 0;
}

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  
}
.footer {
    width: 100%;
    margin: 0 auto;
    background-color: #c0301c;
}
[class*="foot-img-"] {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
    
}
.foot-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 3px solid #555555;
}
[class*="foot-img-"]:hover {
    background-color: #555555;
    border-radius: 30px;
}

.foot-img-faceboock {
    background: url(img/Facebook.png) center no-repeat;
    
}
.foot-img-twitter {
    background: url(img/Twitter.png) center no-repeat;
    
}
.foot-img-google {
    background: url(img/google.png) center no-repeat;
    
}
.foot-img-skype {
    background: url(img/skype.png) center no-repeat;
    
}
.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer-info p {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}
#mytextarea {
    width: 410px;
    max-width: 410px;
    max-height: 100px;
    min-width: 410px;
    min-height: 100px;
    height: 100px;
}
/* MEDIA */
@media (max-width:767px){
    .form-modal {
        flex-direction: column;
    }
    .header {
        max-height: 100px;
    }
    .menu a {
        font-size: 20px;
        padding: 0 15px;
    }
    .subb-modal {
        width: 80%;
        height: 400px;
        margin: 80 auto ;
    }
    #mytextarea {
        width: 60%;
        max-width: 60%;
        max-height: 70px;
        min-width: 60%;
        min-height: 50px;
        margin-top: 10px;
    }
    .modal-send{
        width: 100%;
    }
    .modal-input {
        width: 100%;    
    }
    .my-modal {
        padding: 0;
    }
    .textarea {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav {
        
        overflow-y: scroll;
    }
    .contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    [class*="check-in-"] {
        padding: 20px 0;
    }
    .section-slayder {
        width: 90%;
        margin:0 auto;
    }
    [class*="title-"] {
        padding-top: 50px;
    }
    .get-started {
        margin-bottom: 100px;
    }
    .just-img {
        padding-bottom: 50px;
    }
    .myblogposts {
       margin-bottom: 50px;
    }
    .welcome {
        margin-top: 150px;
    }
    .none {
        width:  90%;
        height: 100%;
    }
    .style {
        font-size: 10px;
    }
    .chose-point {
        overflow-y: scroll;
    }
    .welcome h1 {
        font-size: 30px;
    }
    

    .mini-title {
        opacity: 0;
        width: 90%;
        height: 93%;
    }
    .services-description p{
        padding-bottom: 50px;
    }
    .col-xs-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-xs-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-xs-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-xs-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xs-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-xs-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xs-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-xs-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    
    [class*="persone-img-"] {
        width: 80%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    

    
    
}
@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 720px;
    }
    .menu {
        overflow-y: scroll;
    }
    .col-sm-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-sm-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-sm-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-sm-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-sm-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    
}
@media (min-width: 992px) {
    .container {
        width: 100%;
        max-width: 920px;
    }
    .menu {
        overflow-y: visible;
    }
    
    [class*="persone-img-"] {
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        position: relative;
    }
    .col-sm-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-sm-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-sm-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-sm-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-sm-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}


@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1140px;
    }
    [class*="persone-img-"] {
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
    }
    .col-md-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-md-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-md-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-md-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}